{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Bill</title>
    <link rel="stylesheet" href="{% static 'css/print_bill.css' %}">
</head>
<body>
    <h1>Grocery Store</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price/Unit</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.item.name }}</td>
                <td>{{ transaction.item.price_per_unit }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Amount: {{ total_price }}</h3>
</body>
</html>
